input {
    display: block;
    width: 30%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
}

button {
    font-family: arial, sans-serif;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    color:#F4F4F4;
    background-color: #F0A500;
    text-align: center;
}

button:hover {
    font-family: arial, sans-serif;
     color: #000000;
     background-color: #CF7500;
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}
