body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #073B4C; /* Azul escuro sofisticado */
    color: white;
    padding: 10px 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-controls button {
    background-color: #EF476F; /* Vermelho coral */
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.user-controls button:hover {
    background-color: #FFD166; /* Amarelo coral */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #073B4C; /* Azul escuro */
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
}
