<h2>Por favor efetue login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="email">
            Email
        </label>
        <input id="email" type="text" formControlName="email">
        <div *ngIf="submitted && email.errors?.['required']">Email is required</div>
    </div>
    <div>
        <label for="password">
            Password
        </label>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="submitted && password.errors?.['required']">Password is required</div>
    </div>
    <button class="button" type="submit">Login</button>
</form>