<section class="news">
  <h2>Notícias do Dia</h2>
  <div class="news-grid">
    <article *ngFor="let news of newsList">
      <div class="news-item">
        <img src="assets/images/{{ news.imageUrl }}" alt="Imagem da Notícia" class="news-image">
        <div class="news-content">
          <h3>{{ news.title }}</h3>
          <p>{{ news.content }}</p>
          <p><small>{{ news.creationDate | date:'dd/MM/yyyy HH:mm:ss'}} - Escrito por {{ news.writer }}</small></p>
          <a href="#read-more">Ler mais</a>
        </div>
      </div>
    </article>
  </div>
</section>
