
.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #3962bb;
  }
  
  .header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  .header p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
 
  .login-container {
    max-width: 400px;
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  }
  
 
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn-login {
    background-color: #24292e; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-login:hover {
    background-color: #181c20;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link a {
    color: #007bff; 
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline; 
  }

.btn-login-normal {
    background-color: #007bff; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    font-size: 16px;
    margin-bottom: 20px; 
    transition: background-color 0.3s ease;
  }
  
  .btn-login-normal:hover {
    background-color: #67a1df; 
  }
  
  
  .login-container {
    max-width: 400px;
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn-login {
    background-color: #24292e; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-login:hover {
    background-color: #181c20; 
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link a {
    color: #d03322; 
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline; 
  }
  