<div>
    <h2>Obter Rota</h2>
    <form #camiaoForm="ngForm"
            (ngSubmit)="obterRota(data.value)">
        
            <div class="form-group">
    <label for="new-rota">Data: </label>
    <input data="new-rota" type="date" #data="ngModel"  ngModel name = "data" class="form-control " required  />
    <div *ngIf="data.errors?.['required']">
      Data é obrigatória
    </div>
    <br>
    
    <button type="submit"  class="obter-button" >
        Obter
      </button>
  
  </div>
  </form>
  
  
  <h2>Rota Obtida</h2>
  <div style="margin: 30px">
    
    
    <table>
      <tr>
        <th>Index</th>
        <th>Armazem</th>
      </tr>
      <tr
        *ngFor="let paragem of paragens ; let i = index"
      >
      
        <td>{{ i + 1 }}</td>
        <td>
          {{ paragem }}
        </td>
        
      
      </tr>
    </table>
  </div>
