<section class="homeNews">
    <div class="container">
      <h2 class="mb-4">Página Principal</h2>
      <div class="row">
        <div class="col-md-6 col-lg-4" *ngFor="let news of newsList">
          <div class="card mb-4">
            <img class="card-img-top" [src]="news.imageUrl" alt="Imagem da Notícia" style="max-width: 100%;"> <!-- Adicione style="max-width: 100%;" aqui -->
            <div class="card-body">
              <h3 class="card-title">{{ news.title }}</h3>
              <p class="card-text">{{ news.content }}</p>
              <p class="card-text"><small class="text-muted">{{ news.creationDate | date:'dd/MM/yyyy HH:mm:ss' }} - Escrito por {{ news.writer }}</small></p>
              <a href="#read-more" class="btn btn-primary">Ler mais</a>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button (click)="loadMoreNews()" *ngIf="newsList.length > 0 && !loadingMoreNews" class="btn btn-primary">Carregar mais notícias</button>
        <div *ngIf="loadingMoreNews">
          <!-- Mostrar um indicador de carregamento aqui -->
        </div>
      </div>
    </div>
  </section>
  