<div>
  <h2>Registar Percurso</h2>
  <form #percursoForm="ngForm"
    (ngSubmit)="createPercurso(whPartida.value, whChegada.value, distancia.value, tempoComCargaMaX.value, energiaGastaComCargaMax.value)">
    <div class="form-group">
      <label for="new-percurso">Armazém de Partida: </label>
      <select whPartida="new-percurso" type="string" #whPartida="ngModel" ngModel name="whPartida" required>
        <option *ngFor="let armazem of armazens" [value]="armazem.id">{{armazem.id}}</option>
    </select>
      <div *ngIf="whPartida.errors?.['required']">
        ID do Armazém de Partida é obrigatório
      </div>
      <br>
      <br>
      <label for="new-percurso">Armazém de Chegada: </label>
      <select whChegada="new-percurso" type="string" #whChegada="ngModel" ngModel name="whChegada" required>
        <option *ngFor="let armazem of armazens" [value]="armazem.id">{{armazem.id}}</option>
    </select>
      <div *ngIf="whChegada.errors?.['required']">
        ID do Armazém de Chegada é obrigatório
      </div>
      <br>
      <br>
      <label for="new-percurso">Distância: </label>
      <input distancia="new-percurso" type="number" #distancia="ngModel" ngModel name="distancia" />
      <br>
      <br>
      <label for="new-percurso">Tempo com carga máxima: </label>
      <input tempoComCargaMaX="new-percurso" type="number" #tempoComCargaMaX="ngModel" ngModel
        name="tempoComCargaMaX" />
      <br>
      <br>
      <label for="new-percurso">Energia gasta com carga máxima: </label>
      <input energiaGastaComCargaMax="new-percurso" type="number" #energiaGastaComCargaMax="ngModel" ngModel
        name="energiaGastaComCargaMax" />
      <br>
      <br>
      <button type="submit" class="registar-button">
        Registar
      </button>

    </div>
  </form>

  

  <h2>Lista de Percursos</h2>
  <div style="margin: 30px">


    <table>
      <tr>
        <th>Index</th>
        <th>Armazém de Partida</th>
        <th>Armazém de Chegada</th>
        <th>Distância (km)</th>
        <th>Tempo com carga máxima</th>
        <th>Energia gasta com carga máxima</th>
      </tr>
      <tr *ngFor="let percurso of percursos ; let i = index">

        <td>{{ i + 1 }}</td>
        <td>{{ percurso.whPartida }}</td>
        <td>{{ percurso.whChegada }}</td>
        <td>{{ percurso.distancia }}</td>
        <td>{{ percurso.tempoComCargaMaX }}</td>
        <td>{{ percurso.energiaGastaComCargaMax }}</td>
      </tr>
    </table>
  </div>