<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <bean class="pt.ipp.isep.dei.desofsnews.app.DesofsNewsApplication">
        <property name="message" value="blabla"></property>
    </bean>

    <bean class="pt.ipp.isep.dei.desofsnews.controller.SampleController">
        <property name="userRepository" ref="userRepository"></property>
    </bean>

    <bean id="userRepository" class="pt.ipp.isep.dei.desofsnews.dao.UserRepository"></bean>

    <jpa:repositories base-package="pt.ipp.isep.dei.desofsnews.repository" />
</beans>
